
{% extends 'base_admin.html' %}
{% load static %}

{% block style1 %}
   <link rel="stylesheet" type="text/css" href="{% static  'pages/about_resume/about_resume.min.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'base/css/summernote.min.css' %}">

{% endblock %}

{% block content1 %}
   <div id="element___about_resume_page">
      <about_resume :context="variablesData"></about_resume>
   </div>
{% endblock %}

{% block js1 %}
   <script src="{% static 'base/js/summernote.min.js' %}"></script>
<script src="{% static 'base/js/summernote-fa-IR.js' %}"></script>

   <script src="{% static 'pages/about_resume/about_resume.min.js' %}"></script>
   <script>
         var context = {
    get_configs_api: "{% url 'talent_admin:api:sys_config' %}",
}  
         </script>
   <script>
      let vue___about_resume_page = new Vue({
         el: '#element___about_resume_page',
         data: {
            variablesData: context,
         },
         created() {
            document.title = 'about_resume';
         },
         components: {
            "about_resume": about_resume,
         }
      });
   </script>
{% endblock %}
   