<div class="ui stackable very padded main-admin" style="margin: 20px 0" id="tickets_section">
    <div class="ui secondary pointing menu">
        <a v-for="tab in tabs" @click="selectTab(tab)" class="item " :class="{active: activeTab == tab.value}">
            {{tab.title}}
        </a>
    </div>
    <!-- tab-->
    <div class="ui segment main-content">
        <!-- loading -->
        <div class="ui active inverted dimmer loader-style" v-if="loading">
            <div class="ui text loader">بارگذاری</div>
        </div>
        <table class="ui compact celled definition table">
            <thead class="full-width">
                <tr>
                    <th>شناسه</th>
                    <th v-if="activeTab === 'consultation_request'">نام و نام خانوادگی</th>
                    <th>عنوان </th>
                    <th v-if="activeTab !== 'consultation_request'">ارسال کننده</th>
                    <th v-if="activeTab === 'consultation_request'">شماره تماس</th>
                    <th>زمان</th>
                    <th>وضعیت</th>
                    <th v-if="activeTab !== 'consultation_request'">گزینه ها</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="t in tickets">
                    <td v-text="t.ticket_code"></td>
                    <td v-if="activeTab === 'consultation_request'">{{ t.settings.name }}</td>
                    <td v-text="t.title"></td>
                    <td v-if="activeTab !== 'consultation_request'"><span v-if="t.created_by !== null">{{
                            t.created_by.email }}</span></td>
                    <td v-if="activeTab === 'consultation_request'">{{ convertNumbersToPersian(t.settings.phone) }}</td>
                    <td>{{ toPersianDate(t.created_at) }}</td>
                    <td>{{ t.settings.status ? t.settings.status : '-' }}</td>
                    <td class="ui center aligned" v-if="activeTab !== 'consultation_request'">
                        <button class="ui icon primary button" @click="viewTicket(t)">
                            <i class="material-icons ">visibility</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination :page_counts="this.page_counts" :p_index="this.index" @reload="loadTickets($event)"></pagination>
    </div>
</div>