.main-ticket {
    margin: 1% 4%;
    .ticket-header {
        display: flex;
        align-items: center;
        h2 {
            flex: 1 1 0;
            display: flex;
            align-items: center;
            i {
                margin: 0 5px;
                font-size: 1.5em;
            }
        }
    }
}