.main{
    display: flex;
    flex-direction: row;
    background-color: #f3f9ff;
}

.right-task{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
    padding: 10px;
    margin: 15px;
    background-color: #ffffff;
    border-radius: 9px;
    min-width: 190px;
}
.ui.button {
    background-color: #ffffff !important;
}